<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/app.css">
    <link rel="stylesheet" href="/css/admin/aside.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/js/adminjs/controladmin.js"></script>

    <title>Document</title>
</head>
 
<body>
    <div class="app1">

        <aside>
            <div class="logo">
                <div class="status">
                    <div class="img"></div>
                    <div class="dot"></div>
                </div>
                <h5 class="nome">
                    <%= users.nome %>
                </h5>

            </div>

            <div class="container">
                <div class="links"> 
                

                    <a href="/admin/admindashboard">
                        <img id="rel">
                        Relat칩rios
                    </a>

                    <a href="/admin/usuario">
                        <img id="usu">
                        Usu치rios
                    </a>

                    <a href="/admin/contacto">
                        <img id="con">
                        Contactos
                    </a>

                </div>

                <a href="/admin/logout"  class="click" >
                    <img id="admin">
                    Logout
                </a>
            </div>
        </aside>
        <div class="rel-container">

            <header>

                <p class="titulo"><b>Todos os Relat칩rios</b></p>

                <form action="/search" method="post">

                    <input type="text" id="pesquisa" name="resp" class="form-control " placeholder="pesquisa">

                    <select name="select" id="select" class=" form-control">
                        <option value="todos"></option>
                        <option value="id"> ID | Identificador</option>
                        <option value="nome">Nome do Usu치rio</option>

                    </select>

                    <button type="submit" class="btn btn-primary  "> </button>
                </form>

            </header>

            <section class="conteudo">

            </section>



        </div>
    </div>
</body>

</html>