<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/app.css">
    <link rel="stylesheet" href="/css/admin/aside.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/user-normal/relatorio.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/js/adminjs/controladmin.js"></script>

    <title>Document</title>
</head>
 
<body>
    <div class="body">

        <aside>
            <div class="logo">
                <div class="status">
                    <div class="img"></div>
                    <div class="dot"></div>
                </div>
                <h5 class="nome">
                    <%= users.nome %>
                </h5>

            </div>

            <div class="container">
                <div class="links"> 
                

                    <a href="/admin/admindashboard">
                        <img id="rel">
                        Relatórios
                    </a>

                    <a href="/admin/usuario">
                        <img id="usu">
                        Usuários
                    </a>

                    <a href="/admin/contacto">
                        <img id="con">
                        Contactos
                    </a>

                </div> 

                <a href="/admin/logout"  class="click" >
                    <img id="admin">
                    Logout
                </a>
            </div>
        </aside> 


        
    <div class="rel">
        <div class="contents">

            <form action="/user/consultar_relatorio" class="cards"  method="post">

                <div class="card-body"><b class="titulo">Todos os Relatórios</b></div>
                <div id="consult" class="my-2">
                    <input type="text" id="pesquisa" name="resp" class="form-control mt" placeholder="Diz o que procura">

                    <select name="select"  id="select"   class="form-control">
                        <option selected disabled>Selecionar</option>
                        <option value="acronimo">Tipo de teste</option>
                        <option value="nome">Nome do relatorio</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success"> pesquisar </button>
            </form>

            <div class="all-books scroll">

                <div class="book">
                    <div class="card-body">
                        <input type="text"  placeholder="nome" id="nome" disabled class="contain-nome form-control  "> 
                        <input  type="text" placeholder="teste"  id="teste"  disabled class="contain-test form-control ">
                            
                       
                    </div>
                    <div class="card-body"> 
                            <input type="text" placeholder="data" id="data" disabled class="contain-data form-control  ">
                            <a href="#" id="deletar" class="delete-book"></a>
                            <a href="#"  id="download" class="download-book"></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>