<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/app.css">
    <link rel="stylesheet" href="/css/admin/aside.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/contacto.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/js/adminjs/controladmin.js"></script>
  
    <title>Document</title>
</head>
<body>
    <div class="app1">
         
        <aside>
            <div class="logo">
                <div class="status">    
                   <div class="img"></div>
                   <div class="dot"></div>
               </div>
               <h5 class="nome"><%= users.nome%></h5>

           </div>
    
               <div class="container">
                <div class="links">
                    <a href="/admin/admindashboard">
                        <img id="rel">
                        Relatórios
                    </a> 
                    
                    <a href="/admin/usuario" >
                        <img  id="usu">
                        Usuários
                    </a>
                    
                    <a href="/admin/contacto">
                        <img  id="con">
                        Contactos
                    </a>
                    
                </div>
                <a href="/admin/logout" class="click" >
                    <img id="admin">
                Logout
                </a>  
               </div>
        </aside>
        <div class="conct-container">
            <header>
                <p class="titulo"><b>Todos os Contactos</b></p>
            </header>

            <section >

                <div class="feedback"> 
                        <div  id="quadrados">
                            <div class="row1">
                                <div class="img"></div>
                                <input type="text" name="nome" value=" "
                                        class="form-control " disabled>

                                
                                    <input type="text" name="senha" value=" "
                                        class="form-control " disabled>
                                        
                                <a href="#" class="personal"></a>
                                     
                            </div> 
 
                                <textarea name="content" id="" cols="30" rows="10" class="form-control" disabled></textarea>
                           
                        </div> 
                </div>

            </section>
        </div>
    </div>
</body>
</html>