<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recover/direito.css">
    <link rel="stylesheet" href="/css/recover/esquerdo.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body class="body">
    <div class="esquerdo">
        
        <h1 class="my-3" id="h1">Recupere a conta em <br> poucos segundos!</h1>
        <form action="/resetpassword" method="post">
            <input type="email" class="form-control  " placeholder="Email" name="email">
            <input type="password" class="form-control my-2 " placeholder="Insira o BI" 
            name="bipassrecover">
            <div class="btns" style="width: 100%; height: 100%; display: flex;
            justify-content: space-between;">

                <a href="/" class="btn btn-primary">voltar</a>
                <button class="btn btn-success" type="submit">Buscar </button>

            </div>
        </form>
    </div>

    <div class="direito"> 
            <div id="img"> </div>
    </div>

</body>

</html>