<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-normal/aside.css">
    <link rel="stylesheet" href="/css/user-normal/relatorio.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Document</title>
</head>

<body class="app1">


    <aside>


        <p><b>AngoHunt</b></p>


        <div class="container">
            <div class="links">

                <a href="/user/userdashboard"> 
                    Home
                </a>

                <a href="/user/gerar_relatorio"> 
                    Gerar Relatorios
                </a>

                <a href="/user/consultar_relatorio"> 
                    Consultar relarios
                </a>

                <a href="/user/perfil"> 
                    Meu Perfil
                </a>

                <a href="/user/ajuda"> 
                    Contactos
                </a>

            </div>

        </div>

        <div class="logo">
            <div class="status">
                <div class="img"></div>
                <div class="dot"></div>
            </div>
            <h5 class="nome">
                <%=users.nome %>
            </h5>

        </div>
    </aside>
    <div class="rel-container">
        <div class="contents">

            <form action="" method="post" class="card">

                <div class="card-body titulo ">Gerar Relatorios</div>
                <div class="headers">
                    <input type="text" placeholder="Nome do relatorio" name="nome" class="form-control">
                    <select name="test" class="form-control">

                        <option selected disabled>Selecione um tipo</option>
                        <option value="xss"> xss Scripting</option>
                        <option value="domains">Subdomains</option>
                        <option value="sql">SQL Injection</option>
                        <option value="scanner">Port Scanner</option>
                    </select>
                </div>
                <textarea name="content" id="" cols="30" rows="10" class="form-control"
                    placeholder="Escreva alguma coisa"></textarea>

                <button type="submit" class="btn btn-success">Criar relatorios</button>

            </form>
        </div>
    </div>


</body>

</html>