<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-normal/aside.css">
    <link rel="stylesheet" href="/css/user-normal/relatorio.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/tinymce/tinymce.min.js"> </script> 
    <title>Document</title>
</head>

<body class="body">
    <aside>
        <p><b>AngoHunt</b></p>


        <div class="container">
            <div class="links">

                <a href="/user/userdashboard"> 
                    Home
                </a>

                <a href="/user/gerar_relatorio"> 
                    Gerar Relatorios
                </a>

                <a href="/user/consultar_relatorio"> 
                    Consultar Relatórios
                </a>

                <a href="/user/perfil"> 
                    Meu Perfil
                </a>

                <a href="/user/ajuda"> 
                    Reclamações
                </a>

            </div>

        </div>

        <div class="logo">
            <div class="status">
                <div class="img"></div>
                <div class="dot"></div>
            </div>
            <h5 class="nome">
                <%=users.nome %>
            </h5>

        </div>
    </aside>
    <div class="rel">
        <div class="contents">
            <% if (espacos && espacos.length >0 ) { %>
                <div class="alert alert-danger" id="flash-message">
                  <%= espacos %>
                </div>
                <script>
                    setTimeout(function() {
                      document.getElementById('flash-message').style.display = 'none';
                    }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                  </script>
              <% } %>
              

              <% if (camposVazios && camposVazios.length >0 ) { %>
                <div class="alert alert-danger" id="campos-vazios">
                  <%= camposVazios %>
                </div>
                <script>
                    setTimeout(function() {
                      document.getElementById('campos-vazios').style.display = 'none';
                    }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                  </script>
              <% } %>


            <form action="/user/gerar_relatorio" method="post" class="card">

                <div class="card-body titulo " style="color: white; background:#8200D2 ;">Gerar Relatorios</div>
                <div class="headers">
                    <input type="text" placeholder="Nome do relatorio" style="margin-right: 1em;" name="nome" class="form-control my-2">
                    <select name="test" class="form-control my-2">

                        <option selected disabled>Selecione um tipo</option>
                        <option value="vulnerabilities">vulnerabilidades</option>
                        <option value="subdomains">Subdominios</option>
                        <option value="portscan">Varredura de Porta</option> 
                        <option value="technlogoies">Technologias</option> 
                    </select>
                </div>
                <textarea name="content"   cols="30" rows="10" class="form-control" placeholder="Escreva alguma coisa" id="gerador"></textarea>

                <button type="submit" class="btn btn-success my-2" >Criar relatorios</button>

            </form>
        </div>
    </div>


    <script>
        tinymce.init({
            language:"pt_BR",
            selector:"#gerador",
            plugins:[
                'lists advlist autolink link image  print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
            ]
        })
    </script>
</body>
</html>