


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-normal/aside.css">
    <link rel="stylesheet" href="/css/user-normal/relatorio.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Document</title>
</head>
<body class="body">


    <aside>
        <p><b>AngoHunt</b></p>
     
        <div class="container">
            <div class="links">

                <a href="/user/userdashboard"> 
                    Home
                </a>

                <a href="/user/gerar_relatorio"> 
                    Gerar Relatorios
                </a>

                <a href="/user/consultar_relatorio"> 
                    Consultar relarios
                </a>

                <a href="/user/perfil"> 
                    Meu Perfil
                </a>

                <a href="/user/ajuda"> 
                    Contactos
                </a>

            </div>
            
        </div>

        <div class="logo">
            <div class="status">
                <div class="img"></div>
                <div class="dot"></div>
            </div>
            <h5 class="nome"><%=users.nome %></h5>

        </div>


    </aside> 

    

    <div class="rel">
        

        <div class="contents">

            <form action="/user/consultar_relatorio" class="cards"  method="post">

                <div class="card-body"><b class="titulo">Todos os Relatórios</b></div>
                <div id="consult" class="my-2">
                    <input type="text" id="pesquisa" name="resp" class="form-control mt" placeholder="Diz o que procura">

                    <select name="select"  id="select"   class="form-control">
                        <option selected disabled>Selecionar</option>
                        <option value="acronimo">Tipo de teste</option>
                        <option value="nome">Nome do relatorio</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success"> pesquisar </button>
            </form>

            <div class="all-books scroll">

                <div class="book">
                    <div class="card-body">
                        <div class="nome">
                            <label for="nome"><b>Nome do Relatorio</b></label>
                            <div class="contain-nome"></div>
                        </div>
                        <div class="teste">
                            <label for="test"><b>Tipo de Teste</b></label>
                            <div class="contain-test"></div>
                        </div>
                        <a href="#" class="delete-book"></a>
                    </div>
                    
                    <div class="card-body">
                        <div class="data">
                            <label for="data"><b>Data de Criação</b></label>
                            <div class="contain-data"></div>
                        </div>
                        <a href="#" class="download-book"></a>
                    </div>
                </div>

            </div>

        </div>
    </div>


    
</body>
</html>