<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-normal/aside.css">
    <link rel="stylesheet" href="/css/user-normal/section.css">
    <link rel="stylesheet" href="/css/user-normal/header.css">
    <link rel="stylesheet" href="/css/user-normal/content.css">
    <title>Document</title>
</head>

<body class="app1">


    <aside>


        <p><b>AngoHunt</b></p>


        <div class="container">
            <div class="links">
                <a href="/user/userdashboard"> 
                    Home
                </a>

                <a href="/user/gerar_relatorio"> 
                    Gerar Relatorios
                </a>

                <a href="/user/consultar_relatorio"> 
                    Consultar relarios
                </a>

                <a href="/user/perfil"> 
                    Meu Perfil
                </a>

                <a href="/user/ajuda"> 
                    Reclamações
                </a>

            </div>

        </div>

        <div class="logo">
            <div class="status">
                <div class="img"></div>
                <div class="dot"></div>
            </div>
            <h5 class="nome"><%= users.nome %></h5>

        </div>

    </aside>

    <section>
        <header>
            <h3> 
                    Escolha o teste 
                    que pretende 
               
            </h3>


            <div class="container">

                <form action="/user/threats" method="post">
                    <select name="test" class="form-control ">

                        <option selected disabled> Selecionar teste</option> 
                        <option value="xss"> xss Scripting</option>
                        <option value="domains">Subdomains</option>
                        <option value="sql">SQL Injection</option> 
                        <option value="scanner">Port Scanner</option> 
                    </select>
                    <input type="text" class="form-control " placeholder="URL | LOCALHOST URL | WEBSITE DOMAIN"
                        name="url"  >
                    <button type="submit" class="btn btn-success">pesquisar</button>

                </form>
            </div>

        </header>

        <div class="conteudos">

            <p class="titulo"><b>Este é um titulo</b></p>

            <div class="enum-test">
                <p>Aqui começa todo o conteudo</p>

 
            </div>

        </div>
    </section>

</body> 
</html>