 

<div class="links">

    <a href="/user/userdashboard"> 
        Home
    </a>

    <a href="/user/gerar_relatorio"> 
        Gerar Relatorios
    </a>

    <a href="/user/consultar_relatorio"> 
        Consultar relarios
    </a>

    <a href="/user/perfil"> 
        Meu Perfil
    </a>

    <a href="/user/ajuda"> 
        Contactos
    </a>

</div>